<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VinklWebService.Properties.Settings.VinklMenuConnectionString"
            connectionString="Data Source=VinklMenu.mssql.somee.com;Initial Catalog=VinklMenu;User ID=tpiskur1_SQLLogin_1;Password=62fqeoy7rn"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>